*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';;
}

body {
  background-color: rgb(56, 133, 138);
  transition: background-color 400ms ease-in-out;
}

.pomodoro {
  width: 720px;
  margin: 0 auto;
  color: #ffffff;
}

.pomodoro h2 {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px 5px;
  border-bottom: 3px solid #ffffff;
  margin-bottom: 35px;
}

.pomodoro .timer-area {
  width: 480px;
  height: 300px;
  margin: 0 auto;
  background-color: rgb(78, 164, 170);
  transition: background-color 400ms ease-in-out;
  border-radius: 6px;
}

.pomodoro .timer-area h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0px;
}

.pomodoro .timer-area .timer {
  font-size: 7.7rem;
  font-weight: bold;
  text-align: center;
}

.pomodoro .timer-area .button-area {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.pomodoro .timer-area button {
  padding: 10px 30px;
  border: none;
  background-color: #ffffff;
  color: rgb(56, 133, 138);
  transition: background-color 400ms ease-in-out;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.pomodoro .details {
  margin: 20px 0px;
  text-align: center;
  font-weight: 500;
}

.pomodoro .details h3 {
  padding: 10px 0px;
}

.working {
  background-color: rgb(186, 73, 73);
  transition: background-color 400ms ease-in-out;
}

.working .pomodoro .timer-area {
  background-color: rgb(194, 93, 93);
  transition: background-color 400ms ease-in-out;
}

.working .pomodoro .timer-area button {
  color: rgb(194, 93, 93);
}

.hidden {
  display: none;
}
